.cryptosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  margin-top: 20px;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid lightgray;
}

th {
  padding: 20px;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  border-bottom: 1px solid lightgray;
}

th:nth-child(even) {
  background-color: #f5f2ed;
}

th:nth-child(odd) {
  background-color: #e5ddd7;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgba(211, 211, 211, 0.28);
}

td:nth-child(odd) {
  background-color: rgba(245, 242, 237, 0.48);
}

td:nth-child(even) {
  background-color: rgba(229, 221, 215, 0.42);
}

td {
  padding: 10px 8px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
  border-bottom: 1px solid lightgray;
}

.sort {
  cursor: pointer;
  color: gray;
  padding: 5px;
  margin-left: 5px;
}

table button,
.coinButton {
  background-color: #ffd399;
}

table button:hover,
.coinButton:hover {
  background-color: #eebc7b;
}

.coinContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.coinHeader {
  margin: 5px;
  font-weight: bold;
}

.coinContainer div {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
}

.headerCoinContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCoinTitle {
  margin: 0 20px 20px 0;
  font-weight: bold;
  font-size: 32px;
  font-style: italic;
}

.headerCoinName {
  display: flex;
  font-weight: bold;
  font-size: 28px;
  color: #72645b;
}

.headerCoinPrice {
  margin-left: 15px;
}

.headerCoinRank {
  margin-right: 5px;
  font-weight: bold;
  font-size: 28px;
  color: black;
}
