.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  min-width: 50px;
  max-width: 100%;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.buttonContainer:hover {
  background-color: #45a049;
}
